%p
  %label
    = l(:label_startpage_active)
  = check_box_tag 'settings[startpage_active]', 1, @settings['startpage_active']
%p
  %label= l(:label_startpage_controller)
  = text_field_tag 'settings[startpage_controller]', @settings['startpage_controller']
%p
  %label= l(:label_startpage_action)
  = text_field_tag 'settings[startpage_action]', @settings['startpage_action']
%p
  %label= l(:label_startpage_id)
  = text_field_tag 'settings[startpage_id]', @settings['startpage_id']
%p
  %label= l(:label_startpage_argname)
  = text_field_tag 'settings[startpage_argname]', @settings['startpage_argname']
%p
  %label= l(:label_startpage_argvalue)
  = text_field_tag 'settings[startpage_argvalue]', @settings['startpage_argvalue']
= l(:label_setting_examples)
= link_to l(:label_example_url), l(:label_example_url), :target => "_blank"
